<aside th:fragment="sidebar(sidebarData)">
    <div class="sidebar">
        <div class="login-sidebar" sec:authorize="!isAuthenticated()" >
            <h1 class="sidebar-title" >Авторизация</h1>
            <a href="/login" th:href="@{/login}">Вход</a>
            <br>
            <a href="/registration" th:href="@{/registration}">Регистрация</a>
        </div>

        <div class="login-sidebar" sec:authorize="isAuthenticated()">
            <h1  class="sidebar-title" sec:authentication="name">Username</h1>
            <img class ="user-avatar" th:src="${#authentication.principal.avatar}">
            <div sec:authorize="hasRole('ROLE_EDITOR')">
                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Возможности редактора</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/editor/addnews" th:href="@{/editor/addnews}">Добавить новость</a>
                    <a class="dropdown-item" href="/editor/addperson" th:href="@{/editor/addperson}">Добавить персону</a>
                    <a class="dropdown-item" href="/editor/addplace" th:href="@{/editor/addplace}">Добавить место</a>
                    <a class="dropdown-item" href="/editor/addaffiche" th:href="@{/editor/addaffiche}">Добавить афишу</a>
                </div>
            </div>
            <a class="nav-link nav-item" th:href="@{/user/selfProfile}">Профиль</a>
            <a class="nav-link nav-item" href="/logout" th:href="@{/logout}">Выход</a>
        </div>
    </div>
    <div  class="sidebar">
        <h1 class="sidebar-title">Поиск</h1>
        <script async src="https://cse.google.com/cse.js?cx=005400633405089873328:1qbbmotod7m"></script>
        <div class="gcse-search"></div>
    </div>
    <div class ="sidebar">

        <h1 class="sidebar-title">Последние новости</h1>
        <ul class = "last-news-list" th:each = "news:${sidebarData}">
            <li>
                <a th:href="@{'/news/' + ${news.newsId}}"> <img th:src = "@{${news.picture}}" width="150" > </a>
                <a  th:href="@{'/news/' + ${news.newsId}}" th:text="${news.title}"> Название новости</a>
                <p class="post-desc" th:text="${news.shortDescription}"> Краткое описание новости</p>

            </li>
        </ul>
    </div>
</aside>