<nav class="topnav-main navbar navbar-expand-lg sticky-top navbar-light navbar-toggleable navbar-expand-md py-0" style="background-color: #c6e1c0;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand " href="/" th:href="@{/}">КН</a>

    <div class="topnav collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item py-0">
                <a class="nav-link active" href="/" th:href="@{/}"> Главная </a>
            </li>
            <li class="nav-item py-0">
                <a class="nav-link" href="/music" th:href="@{/music}">Музыка</a>
            </li>
            <li class="nav-item py-0">
                <a class="nav-link" href="/museums" th:href="@{/museums}" >Музеи</a>
            </li>
            <li class="nav-item py-0">
                <a class="nav-link" href="/cinema" th:href="@{/cinema}" >Кино</a>
            </li>
            <li class="nav-item py-0">
                <a class="nav-link" href="/theaters" th:href="@{/theaters}">Театры</a>
            </li>
            <li class="nav-item py-0">
                <a class="nav-link" href="/personlist" th:href="@{/personlist}">Персоны</a>
            </li>
            <li class="nav-item py-0">
                <a class="nav-link" href="/affichelist" th:href="@{/affichelist}">Афиша</a>
            </li>
            <li class="nav-item py-0">
                <a class="nav-link" href="/landmark" th:href="@{/landmark}">Достопримечательности</a>
            </li>
        </ul>

    </div>
</nav>