<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head">
</head>

<body class="center-block">
<header th:replace="fragments/header">
</header>

<nav th:replace="fragments/menu">
</nav>


<div class="container">
    <aside th:replace="fragments/aside:: sidebar(sidebarData=${sidebarData})"> </aside>
    <div class="addnews-block">
        <h1 class="addnews-title"> Добавить персону </h1>
        <div class="addnews-form">
            <form action="#" th:action="@{/editor/addperson}" th:object="${person}" method="POST">
                <div>
                    <input type="text" id="personName" name = "personName" class="form-control" placeholder="Имя персоны">
                    <div class="input-group">
                        <textarea id="date" name="date" class="form-control" placeholder="Дата рождения, возраст и дата смерти формата ДР-ДС(В)"></textarea>
                    </div>
                    <div class="input-group">
                        <textarea id="photo" name="photo" class="form-control" placeholder="Ссылка на фотографию" cols="100" rows="1"></textarea>
                    </div>
                    <div class="input-group">
                        <textarea id="occupation" name="occupation" class="form-control" placeholder="Род занятий" cols="100" rows="3"></textarea>
                    </div>
                    <div class="input-group">
                        <textarea id="description" name="description" class="form-control" placeholder="Текст новости" cols="100" rows="20"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   name="add-submit"
                                   id="add-submit"
                                   class="form-control btn btn-info"
                                   value="Добавить">
                        </div>
                    </div>
                </div>
                <div th:if="${error}">
                    <div class="alert alert-danger">
                        Непредвиденная ошибка
                    </div>
                </div>
                <div th:if="${addpersonError}">
                    <div class="alert alert-danger">
                        Ошибка добавления новости
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
<footer th:replace="fragments/footer">
</footer>
</html>