<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head">
</head>

<body class="center-block">
<header th:replace="fragments/header">
</header>

<nav th:replace="fragments/menu">
</nav>


<div class="container">
    <div th:if="${error}">
        <div class="alert alert-danger">
            Непредвиденная ошибка
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th> Имя пользователя </th>
            <th> Хэш пароля </th>
            <th> Электронная почта </th>
            <th> Роли </th>
            <th> Функции</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.userName}">username</td>
            <td th:text="${user.password}">password</td>
            <td th:text="${user.email}">email</td>
            <td> <p th:each="role: ${user.roles}" th:text="${role.roleName} + ';'"> </p></td>
            <td>
                <form th:action="@{'/admin/delete/' + ${user.userId}}" method="post">
                    <button type="submit">Delete user</button>
                </form>
                <form th:action="@{'/admin/addRole/' + ${user.userId}}" method="post">
                    <button type="submit">Добавить роль редактора</button>
                </form>
                <form th:action="@{'/admin/deleteRole/' + ${user.userId}}" method="post">
                    <button type="submit">Лешить роли редактора</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>


</body>
<footer th:replace="fragments/footer">
</footer>
</html>