<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head">
</head>
<body class="center-block">
<header th:replace="fragments/header">
</header>

<nav th:replace="fragments/menu">
</nav>



<div class="container">
    <aside th:replace="fragments/aside:: sidebar(sidebarData=${sidebarData})"> </aside>

    <div class="news-container">
        <ul class="news-block" th:each = "affiche:${afficheList}">
            <li ><a th:href="@{'/affiche/' + ${affiche.afficheId}}"> <img  th:src = "@{${affiche.picture}}" ></a><p></p>
                <div class="post-title">
                    <a th:href="@{'/affiche/' + ${affiche.afficheId}}"> <h1 th:text="${affiche.afficheName}"> Название афиши </h1></a>
                    <p class="post-desc" th:text="${affiche.shortDescription}">Краткое описание</p>
                </div>
            </li>
        </ul>
    </div>
</div>



</body>
<footer th:replace="fragments/footer">
</footer>
</html>