<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head">
</head>
<body class="center-block">
<header th:replace="fragments/header">
</header>

<nav th:replace="fragments/menu">
</nav>


<div class="container">
    <aside th:replace="fragments/aside:: sidebar(sidebarData=${sidebarData})"> </aside>

    <div class="news-container" th:object="${place}">
        <h1 class="news-title" th:text="${place.placeName}">Название Места</h1>
        <div class="news-inner">
            <img class="news-img" th:src = "@{${place.picture}}">
            <div class="place-inner">
                <label for="place-adress"> Адрес: </label>
                <span id="place-adress" class="news-text" th:text="${place.address}">адрес</span>
                <br>
                <label for="category-name"> Категория: </label>
                <span id="category-name" class="news-category" th:text="${place.placeCategory.name}">Категория</span>
                <br>
                <label for="place-email"> Электронная почта: </label>
                <span id="place-email" class="news-text" th:text="${place.email}">электронная почта</span>
                <br>
                <label for="place-number"> Телефонный номер: </label>
                <span id="place-number" class="news-text" th:text="${place.phoneNumber}">телефонный номер</span>
                <br>
                <label for="place-site"> Сайт </label>
                <a th:href="@{${place.site}}"><span id="place-site" class="news-text" th:text="${place.site}" >сайт</span></a>
            </div>
            <p class="news-text" th:text="${place.description}">
                текст новости
            </p>
            <a sec:authorize="hasRole('ROLE_EDITOR')" th:href="@{'/editor/changePlace/' + ${place.placeId}}">
                Редактировать место
            </a>
            <a sec:authorize="hasRole('ROLE_EDITOR')" th:href="@{'/editor/deletePlace/' + ${place.placeId}}">
                Удалить место
            </a>
        </div>
    </div>
</div>



</body>
<footer th:replace="fragments/footer">
</footer>
</html>