<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head">
</head>
<body class="center-block">
<header th:replace="fragments/header">
</header>

<nav th:replace="fragments/menu">
</nav>




<div class="container">
    <div class="login-block">
        <h1 href="" class="login-title"> Смена данных пользователя </h1>
        <div class="login-form">
            <form action="#" th:action="@{/changePassword}" th:object="${user}" method="POST">
                <div>
                    <div th:if="${error}">
                        <div class="alert alert-danger" th:text="${error}">
                            Ошибка
                        </div>
                    </div>
                    <div th:if="${matchError}">
                        <div class="alert alert-danger" th:text="${matchError}">
                            Ошибка
                        </div>
                    </div>
                    <div class="form-group" th:object="${oldPassword}" >
                        <label for="oldPas" >Старый пароль</label>:
                        <input type="text"
                               id="oldPas"
                               name="oldPassword"
                               class="form-control"
                               placeholder="Old password">
                    </div>
                    <div class="form-group">
                        <label for="newPas">Новый пароль</label>:
                        <input type="text"
                               id="newPas"
                               name="password"
                               class="form-control"
                               placeholder="New password">
                    </div>
                    <div class="form-group">
                        <label for="newPasConf">Поддвердите новый пароль</label>:
                        <input type="text"
                               id="newPasConf"
                               name="passwordConfirm"
                               class="form-control"
                               placeholder="New password confirm">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit"
                                       name="reg-submit"
                                       id="reg-submit"
                                       class="form-control btn btn-info"
                                       value="Сохранить">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
<footer th:replace="fragments/footer">
</footer>
</html>