<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Культура Новосибирска</title>
    <link type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link type="text/css" href="../static/css/pgwslider.css" th:href="@{/css/pgwslider.css}" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../static/js/pgwslider.js" th:src="@{/js/pgwslider.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="center-block">

<header th:replace="fragments/header">
</header>

<nav th:replace="fragments/menu">
</nav>




<div class="container">
    <div class="hot_news">
        <ul class="pgwSlider">
            <li><img src="https://sun4-17.userapi.com/pABwofipwkAguLYlEXq9lmFEmYSw9xWgA09Sxw/KwYLvfFcYNY.jpg" alt="Заголовок новости 1" data-description="Краткий текст новости 1"></li>
            <li><img src="https://sun4-17.userapi.com/pABwofipwkAguLYlEXq9lmFEmYSw9xWgA09Sxw/KwYLvfFcYNY.jpg" alt="Заголовок новости 2" data-description="Краткий текст новости 2"></li>
            <li><img src="https://sun4-17.userapi.com/pABwofipwkAguLYlEXq9lmFEmYSw9xWgA09Sxw/KwYLvfFcYNY.jpg" alt="Заголовок новости 3" data-description="Краткий текст новости 3"></li>
         </ul>

        <script>
            $(document).ready(function() {
                $('.pgwSlider').pgwSlider(
                    {maxHeight : 300, transitionEffect: 'sliding'}
                 );
            });
        </script>
    </div>


         <aside th:replace="fragments/aside:: sidebar(sidebarData=${sidebarData})"> </aside>


             <div class="news-container">
                 <div class="select-block">
                     <form th:object="${category}" th:action="@{/}" method="POST">
                         <h1 href=""  class="select-title"> Выбор рубрики</h1>
                         <button type="submit" class="btn btn-outline-success my-2 my-sm-0 category-btn">Применить</button>
                         <select  class="custom-select w-25" th:field="*{name}">
                             <option value="All" selected>Все категории</option>
                             <option value="Музыка">Музыка</option>
                             <option value="Театры">Театры</option>
                             <option value="Кино">Кино</option>
                             <option value="Музеи">Музеи</option>
                         </select>
                     </form>

                 </div>
                 <ul class="news-block" th:each="news: ${newsList}">
                     <li>
                         <a th:href="@{'/news/' + ${news.newsId}}"> <img th:src = "@{${news.picture}}" width="150" > </a>
                         <div class="post-title">
                            <a th:href="@{'/news/' + ${news.newsId}}" th:text="${news.title}"> Название новости</a>
                         </div>
                         <p class="post-desc" th:text="${news.shortDescription}"> Краткое описание новости</p>
                     </li>
                 </ul>
             </div>
    <nav class="page-panel" >
        <ul class="pagination justify-content-center font-weight-bold" th:object="${category}">
            <li class="page-item" th:classappend="${newsList.number eq 0} ? 'disabled'" >
                <a class="page-link"
                   th:href="@{?page={id}(id=${newsList.number lt 2 ? 1 : newsList.number})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq newsList.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( 1, newsList.totalPages, 1)}">
                <a class="page-link" th:href="@{?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"> </a>
            </li>
            <li class="page-item" th:classappend="${newsList.number + 1 eq newsList.totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{?page={id}(id=${newsList.number + 2})}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

     </div>


     </body>
<footer th:replace="fragments/footer">
</footer>
</html>