<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head">
</head>

<body class="center-block">

<header th:replace="fragments/header">
</header>

<nav th:replace="fragments/menu">
</nav>




<div class="container">
    <div class="hot_news">
        <ul class="pgwSlider">
            <li th:each="top: ${topNews}">
                <a th:href="@{'/news/' + ${top.newsId}}"    >
                    <img th:src="@{${top.picture}}">
                    <span th:text="${top.title}"> </span>
                </a>
            </li>
         </ul>

        <script>
            $(document).ready(function() {
                $('.pgwSlider').pgwSlider(
                    {maxHeight : 400, transitionEffect: 'sliding'}
                 );
            });
        </script>
    </div>


         <aside th:replace="fragments/aside:: sidebar(sidebarData=${sidebarData})"> </aside>


             <div class="news-container">
                 <div class="select-block">
                     <form th:object="${category}" th:action="@{/}" method="POST">
                         <h1 href=""  class="select-title"> Выбор рубрики</h1>
                         <button type="submit" class="btn btn-outline-success my-2 my-sm-0 category-btn">Применить</button>
                         <select  class="custom-select w-25" th:field="*{name}">
                             <option value="All" selected>Все категории</option>
                             <option value="Музыка">Музыка</option>
                             <option value="Театры">Театры</option>
                             <option value="Кино">Кино</option>
                             <option value="Музеи">Музеи</option>
                         </select>
                     </form>

                 </div>
                 <div class="news-list">
                     <div class="row">
                         <div class="column news" th:each="news: ${newsList}">
                             <div class="content">
                                 <a th:href="@{'/news/' + ${news.newsId}}"> <img th:src = "@{${news.picture}}" style="width:100%" > </a>
                                 <div class="post-title">
                                     <a th:href="@{'/news/' + ${news.newsId}}" th:text="${news.title}"> Название новости</a>
                                 </div>
                                 <p class="post-desc" th:text="${news.shortDescription}"> Краткое описание новости</p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
    <nav class="page-panel" >
        <ul class="pagination justify-content-center font-weight-bold" th:object="${category}">
            <li class="page-item" th:classappend="${newsList.number eq 0} ? 'disabled'" >
                <a class="page-link"
                   th:href="@{?page={id}(id=${newsList.number lt 2 ? 1 : newsList.number})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq newsList.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( 1, newsList.totalPages, 1)}">
                <a class="page-link" th:href="@{?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"> </a>
            </li>
            <li class="page-item" th:classappend="${newsList.number + 1 eq newsList.totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{?page={id}(id=${newsList.number + 2})}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

     </div>


     </body>
<footer th:replace="fragments/footer">
</footer>
</html>