<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head">
</head>
<body class="center-block">

<header th:replace="fragments/header">
</header>

<nav th:replace="fragments/menu">
</nav>




<div class="container">
    <div class="login-block">
        <h1 href="" class="login-title"> Вход </h1>
        <div class="login-form">
            <form action="#" th:action="@{/login}" th:object="${user}" method="POST">
                <div>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Неправильное имя пользователя или пароль
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username">Имя пользователя</label>:
                        <input type="text"
                               id="username"
                               name="username"
                               class="form-control"
                               autofocus="autofocus"
                               placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>:
                        <input type="password"
                               id="password"
                               name="password"
                               class="form-control"
                               placeholder="Password">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit"
                                       name="login-submit"
                                       id="login-submit"
                                       class="form-control btn btn-info"
                                       value="Log In">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <p>Нет аккаунта?    <a href="/registration" th:href="@{/registration}">Регистрация</a></p>
        </div>
    </div>
</div>


</body>
<footer th:replace="fragments/footer">
</footer>
</html>