

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head">
</head>

<body class="center-block">

<header th:replace="fragments/header">
</header>

<nav th:replace="fragments/menu">
</nav>




<div class="container">
    <aside th:replace="fragments/aside:: sidebar(sidebarData=${sidebarData})"> </aside>

    <div class="map-container">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad45db29843961423562f51f40ca558dff011d0d84552c6b8a2e071c71457c152&amp;width=70%&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>

</div>
</body>
<footer th:replace="fragments/footer">
</footer>
</html>