<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Культура Новосибирска</title>
    <link type = "text/css" rel = "stylesheet" href = "../static/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
    <div class="head-container">
        <a class="logo" href="">
            <h1>Культура <k>Новосибирска</k></h1>
        </a>
        <div class="menu">
            <ul class="ui-menu">
                <li><a href=""> Главная</a></li>
                <li><a href=""> Музыка</a></li>
                <li><a href=""> Музеи</a></li>
                <li><a href=""> Кино</a></li>
                <li><a href=""> Театры</a></li>
                <li><a href=""> Персоны</a></li>
                <li><a href=""> Достопримечательности</a></li>
            </ul>
        </div>
    </div>
</header>


<div class="main">
    <div class="content-wrapper">
        <h1>Название статьи</h1>
        <div class="post-meta">
                <span class="post-date">
                    Дата публикации
                </span>
            <a href="" class="comment-counter">
                Количество комментариев
            </a>
        </div>
        <div class="content-inner">
            <img src="">
            Наполнение
        </div>
        <div class="post-share">
            <h4>Поделиться</h4>

        </div>
    </div>
</div>


<footer>
</footer>
</body>
</html>