<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head">
</head>
<body class="center-block">
<header th:replace="fragments/header">
</header>

<nav th:replace="fragments/menu">
</nav>


<div class="container">
    <aside th:replace="fragments/aside:: sidebar(sidebarData=${sidebarData})"> </aside>

    <div class="news-container" th:object="${news}">
        <h1 class="news-title" th:text="${news.title}">Название новости</h1>
        <div class="news-meta">
            <div>
                Дата публикации:<span class="news-date news-meta-child" th:text="${news.date}">Дата публикации</span>
            </div>
            <div>
                Категория:<span class="news-category news-meta-child"   th:text="${news.newsCategory.name}">Категория</span>
            </div>
            <div>
                Коментарии:<a href="" class="comment-counter news-meta-child" th:text="${news.commentsCount}">Количество комментариев</a>
            </div>
        </div>

        <div class="news-inner">
            <img class="news-img" th:src = "@{${news.picture}}">

            <p class="news-text" th:text="${news.fullDescription}">
                текст новости
            </p>
            <a sec:authorize="hasRole('ROLE_EDITOR')" th:href="@{'/editor/changeNews/' + ${news.newsId}}">
                Редактировать новость
            </a>
            <a sec:authorize="hasRole('ROLE_EDITOR')" th:href="@{'/editor/deleteNews/' + ${news.newsId}}">
                Удалить новость
            </a>
        </div>

        <div class="comments-container" >
            <label class="comments-title">Комментарии: </label>
            <ul class="comments-wrapper">
                <li class="comments-elem" th:each = "comment:${comments}">
                    <label> <a th:href="@{'/user/profile/' + ${comment.userName}}" th:text="${comment.userName}">Пользователь</a></label>
                    <p th:text="${comment.text}">Коментарий пользователя</p>
                    <a sec:authorize="hasRole('ROLE_EDITOR')" th:href="@{'/comment/delete/news/' + ${news.newsId} + '/' + ${comment.commentId}}">
                        Удалить комментарий (От имени модератора)
                    </a>
                    <a sec:authorize="isAuthenticated()" th:if="${#authentication.principal.userId == comment.userId}"  th:href="@{'/comment/delete/news/' + ${news.newsId} + '/' + ${comment.commentId}}" >
                        Удалить комментарий
                    </a>
                </li>
            </ul>
        </div>

        <div class="comment-form" sec:authorize="isAuthenticated()" >
            <form th:action="@{'/comment/news/' + ${news.newsId}}" th:object="${saveComment}"  method="post">
                    <label>Ваш комметарий:</label>
                    <textarea id="description" name="text" class="text" placeholder="Введите текст комментария" cols="110" rows="10"> </textarea>
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0 category-btn">Применить</button>
            </form>
        </div>


    </div>
</div>



</body>
<footer th:replace="fragments/footer">
</footer>
</html>