<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head">
</head>
<body class="center-block">
<header th:replace="fragments/header">
</header>

<nav th:replace="fragments/menu">
</nav>



<div class="container">
    <aside th:replace="fragments/aside:: sidebar(sidebarData=${sidebarData})"> </aside>

    <div class="news-container">
        <ul class="news-block" th:each = "person:${personlist}">
            <li><a th:href="@{'/person/' + ${person.personId}}"> <img  th:src = "@{${person.photo}}" ></a><p></p>
                <div class="post-title">
                    <a th:href="@{'/person/' + ${person.personId}}"> <h1 th:text="${person.personName}"> Имя персоны </h1></a>
                    <p class="post-desc" th:text="${person.occupation}">Род деятельности</p>
                </div>
            </li>
        </ul>
    </div>
</div>



</body>
<footer th:replace="fragments/footer">
</footer>
</html>