<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head">
</head>
<body class="center-block">
<header th:replace="fragments/header">
</header>

<nav th:replace="fragments/menu">
</nav>


<div class="container">
    <aside th:replace="fragments/aside:: sidebar(sidebarData=${sidebarData})"> </aside>

    <div class="news-container">

        <h1 class="news-title" th:text="${user.userName}">Имя пользователя</h1>
        <img class="avatar-img" th:src = "@{${user.avatar}}" >
        <div class="place-inner">
            <label for="user-name"> Имя: </label>
            <span id="user-name" class="news-text" th:text="${user.firstName}">имя</span>
            <br>
            <label for="category-name"> Фамилия: </label>
            <span id="category-name" class="news-category"  th:text="${user.lastName}">фамилия</span>
            <br>
            <label for="place-email"> Электронная почта: </label>
            <span id="place-email" class="news-text" th:text="${user.email}">электронная почта</span>
            <br>
        </div>
        <a th:href="@{/user/changeUserAvatar}">Изменить аватар</a>
        <br>
        <a  th:href="@{/user/changeProfile}">Изменить данные</a>
        <br>
        <a th:href="@{/user/changeUserName}">Изменить никнейм</a>
        <br>
        <a  th:href="@{/user/changePassword}">Изменить пароль</a>
        <br>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Страница администрации</a>
        <br>
        <a th:href="@{/logout}">Выйти</a>
    </div>
</div>



</body>
<footer th:replace="fragments/footer">
</footer>
</html>